p {
    font-size: 24px;
}

.btn-primary {
    background-color: plum;
    color: black;
}

#gen1 {
    border: 2px solid plum;
}

#main-title {
    color: blue;
}

.title {
    color: green;
}

h1 {
    color: black;
}